<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeAPI">
          <match url=".*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode
        nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
        watchedFiles="*.js"
        loggingEnabled="true" />

  </system.webServer>
</configuration>
